alias tmux="TERM=xterm-256color tmux"
alias rabbit='sudo rabbitmqctl'

alias td='tmuxp load -2 $HOME/.tmuxp/dev.yaml'
alias tp='tmuxp load -2 $HOME/.tmuxp/prod.yaml'
alias tad='tmux -2 a -t dev'
alias tap='tmux -2 a -t prod'
alias tkd='tmux kill-session -t dev'
alias tkp='tmux kill-session -t prod'
alias tls='tmux ls'

alias clear_pyc='find . -name "*.pyc" -exec rm -rf {} \;'
