alias tmux="TERM=xterm-256color tmux"

alias rabbit='sudo rabbitmqctl'

alias tnd='tmuxp load -2 $HOME/.tmuxp/dev.yaml'
alias tad='tmux -2 a -t dev'
alias tkd='tmux kill-session -t dev'

alias tns='tmuxp load -2 $HOME/.tmuxp/scratchpad.yaml'
alias tas='tmux -2 a -t scratchpad'
alias tks='tmux kill-session -t scratchpad'

alias tnp='tmuxp load -2 $HOME/.tmuxp/prod.yaml'
alias tap='tmux -2 a -t prod'
alias tkp='tmux kill-session -t prod'

alias tls='tmux ls'

alias clear_pyc='find . -name "*.pyc" -exec rm -rf {} \;'

alias gf='git fetch'
alias gbvv='git branch -vv'
alias gstl='git stash list'
alias gcp='git cherry-pick'
alias gcpa='git cherry-pick --abort'
alias gcpc='git cherry-pick --continue'
alias gbg='gb | grep --color=auto'
alias gbrg='gbr | grep --color=auto'

alias gupall-apis='find . -maxdepth 1 -type d -regextype sed -regex ".*kea.*api" -exec git --git-dir={}/.git --work-tree=$PWD/{} pull origin master \;'
alias gstall-apis='find . -maxdepth 1 -type d -regextype sed -regex ".*kea.*api" -exec echo "analysing {}" \; -exec git --git-dir={}/.git --work-tree=$PWD/{} status \; -exec echo "--------------------------" \;'
alias gcmsgall-apis='find . -maxdepth 1 -type d -regextype sed -regex ".*kea.*api" -exec echo "analysing {}" \; -exec git --git-dir={}/.git --work-tree=$PWD/{} commit -am "update common-api" \; -exec echo "--------------------------" \;'
alias gpall-apis='find . -maxdepth 1 -type d -regextype sed -regex ".*kea.*api" -exec echo "analysing {}" \; -exec git --git-dir={}/.git --work-tree=$PWD/{} push origin master \; -exec echo "--------------------------" \;'

alias grepe='grep -r -A 3 --exclude-dir=target --exclude-dir=.idea --exclude=\*.iml --exclude=LOG_FILE\* '
alias grepel='grep -rl -A 3 --exclude-dir=target --exclude-dir=.idea --exclude=\*.iml --exclude=LOG_FILE\* '

# Maven 
alias mvnciall='find . -maxdepth 1 -type d -regextype sed -regex ".*kea.*api" -exec echo "analysing {}" \; -exec mvn -f={}/pom.xml clean install \; -exec echo "--------------------------" \;'

alias lsg='ls | grep --color=auto --exclude-dir={.bzr,.cvs,.git,.hg,.svn}'
alias psg='ps aux | grep --color=auto'

alias sedpoms='find . -maxdepth 2 -regextype sed -name "pom.xml" -exec sed -i 's/0\.1\.54-SNAPSHOT/0\.1\.55-SNAPSHOT/g' {} \;';

alias ff='find . -name '

# Run docker-compose
alias run_containers='(cd $HOME/workspace/containers ; docker-compose up -d)'
alias stop_containers='(cd $HOME/workspace/containers ; docker-compose stop)'

alias go='gnome-open'


alias dcup='docker-compose up -d'
alias dcdown='docker-compose stop'


# maven aliases
alias mci='mvn clean install'
alias msb='mvn spring-boot:run -Plocal -Dspring.profiles.active=local'
